{
   "GENERAL": {
      "DATA_UPDATE_CHECK_INTERVAL_SEC": 60,
      "TOKEN_EXPIRE_PERIOD_SEC": 43200
   },
   "FIREBASE": {
      "BUCKET_NAME": "xxxxxx.appspot.com",
      "FILE_ROOT_PATH": "xxxxxx/"
   }
}
